[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FuzzyPovertyR"]
	path = FuzzyPovertyR
	url = https://github.com/airdede/fuzzypovertyr
